<ul class="photoList">
<% postArr.forEach(function(post) { %>
  <li>
      <hr>
      <img class = "allImages" src="<%= post.url %>" width="900"><br>
      <h3 class="country">Photo Taken at: <%= post.country %></h3>
      <% if(post.user_id) { %>
      <h3 class="country">Photo Taken By: <%= post.user_id.name%></h3>
      <% } %>
  </li>
  <br>
  <a href="/post/<%= post._id %>"> <button class="btn btn-default btn-primary" href="/posts/<%= post._id%>" role="button" id="commentButton">Comment</button></a>

<% }) %>
</ul>
