<h4><a href="/post/allGrid" class="gridOption">View in Grid</a></h4>

<ul class="photoList">
<% postArr.forEach(function(post) { %>
  <li class="center">
      <hr>
      <img class = "allImages" src="<%= post.url %>" height="595"><br>
      <p class="line">Photographed by <span class="red"><%=post.user_id.name%></span> at <%= post.country%>, <%= post.when%></p>
      </li>
  <br>
  <br>
  <br>
  <a href="/post/<%= post._id %>"> <button class="btn btn-default btn-primary" href="/posts/<%= post._id%>" role="button" id="commentButton">Comment</button></a>

<% }) %>
</ul>
