<img class = "allEach" src="<%= foundPost.url %>" height="595"><br>
<h3 class="country">Photo Taken at: <%= foundPost.country %></h3>
<h3 class="country">Photo Taken By: <%= foundPost.user_id.name %></h3>


<ul id="commentBox">
      <% commentArr.forEach(function(comment) { %>
        <div class="four columns">
          <%= foundPost.user_id.name %> says: <p class="comments" id="thatComment"> <%= comment.comment %><p>
       </div>
         <% }) %>
     </ul>

<form class="commentAJAX" id="comment123">

<input type="text" class="form-control" id="commentForm" name="comment[comment]" placeholder="Say something!">

<button class="btn btn-default btn-primary" role="button" id="commentSubmit">Comment</button>
