<li class = "center">
<hr>
<img class = "center" src="<%= foundPost.url %>" height="595"><br>
<p class="line1">Photographed by <span class="red"><%=foundPost.user_id.name%></span> at <%= foundPost.country%>, <%= foundPost.when%></p>
</li>
<br>
<br>

<ul id="commentBox">
      <% commentArr.forEach(function(comment) { %>
        <div class="four columns">
         <%= comment.name %> says: <p class="comments"> <%= comment.comment %><p>
       </div>
         <% }) %>
     </ul>

<form action="/post/<%=foundPost.id%>" method="post" id="comment123">

<input type="text" class="form-control" id="commentName" name="comment[name]" placeholder="Your name">
<input type="text" class="form-control" id="commentForm" name="comment[comment]" placeholder="Say something!">

<button href="/posts/<%=foundPost._id%>" class="btn btn-default btn-primary" role="button" id="commentSubmit">Comment</button>
