<h1 class ="welcome">Welcome <%= user %></h1>

<% allPhotos.forEach(function(post) { %>
  <li class="center">
      <hr>
      <img class = "allImages" src="<%=post.url %>" height="595"><br>
      <p class="line2">Photographed by <span class="red">YOU</span> at <%= post.country%>, <%= post.when%></p>
  </li>

<form class="editButton" action="/post/<%=post.id %>/edit" method="get">
<button type="submit" class="btn btn-primary btn-md btn-info">Edit</button>
</form>

  <form class="deleteButton" method="POST" action="/post/myphotos/<%=post.id%>" enctype="application/x-www-form-urlencoded">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit" class="btn btn-primary btn-md btn-danger">Delete</button>
</form>
<% }) %>
</ul>
